

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.input {
	padding: 0px;
}

.row {
	padding-top: 10px;
}

.container {
	margin-top:20px;
	border: 1px dotted gray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}














